@model IEnumerable<QuanLyDoAn.DeTai>

@{
    ViewBag.Title = "DanhSachDeTai1";
}

<h2>DanhSachDeTai1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.maDeTai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenDeTai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soSVThamGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ghiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soSVDaDangKy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.maDeTai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenDeTai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soSVThamGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ghiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soSVDaDangKy)
        </td>
        <td>
            @Html.ActionLink("Đăng Ký", "DangKyDeTai", new { id = item.maDeTai }) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
